{include file="Public:header" /}

<link rel="stylesheet" href="__STATIC__/assets/css/index.css" type="text/css"/>
    <div class="first_div">
        <div class="left_div" style="clear:both">
            <!--主要内容 -->
                <div class="top-title">
                    <div class="">
                        <h1 class="page-title">
                            最新文章
                        </h1>
                    </div>
                </div>
                <!--main Start-->
                <div class="">
                    <div class="col-md-12 post-container shadow">
                        <h2 class="post-title">
                            <a href="content.html" title="">异步测试文章</a>
                        </h2>
                        <div class="meta-box">
                            <span class="m-post-date">
                              <i class="fa fa-calendar-o">
                              </i>
                              2015年6月3日
                            </span>
                            <span class="comments-link">
                              <a href="" class="ds-thread-count" data-thread-key="9500" title="Comment on 毕业两周年">
                                  <i class="fa fa-comments-o">
                                  </i>
                                  留言
                              </a>
                            </span>
                        </div>
                        <div class="post-content">
                            <p>
                                如果您在使用中遇到什么麻烦的事情,那么baby千万不要捶胸顿足,在友情链接界面您会看到作者的博客链接，您可以通过访问作者的博客留言联系我
                                <a href="http://www.ybsat.com">
                                    联系我
                                </a>
                            </p>
                        </div>
                        <div class="meta-box">
                            <span class="cat-links">
                              <i class="fa fa-navicon">
                              </i>
                              <b>
                                  分类:
                              </b>
                              <a href="topics/life/diary.htm">
                                  测试
                              </a>
                            </span>
                            <span class="tag-links">
                              <i class="fa fa-tags">
                              </i>
                              <b>
                                  标签:
                              </b>
                              <a href="tags/毕业.htm" rel="tag">
                                  异步
                              </a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--推荐阅读-->
                <div class="">
                    <div class="col-md-12 post-container m-recommend-page">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="" class="thumbnail">
                                    <img src="__STATIC__/assets/img/works.png" alt="作品展示">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="" class="thumbnail">
                                    <img src="__STATIC__/assets/img/study.png" alt="学习生活">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="" class="thumbnail">
                                    <img src="__STATIC__/assets/img/book.png" alt="作品推荐">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="right_div">
            {include file="Public:right" /}
        </div>

    </div>
    <div style="height:1000px;clear:both"></div>

    <!--小人只在首页显示 start*-->
    <div id="spig" class="spig" style="clear:both">
        <div id="message">正在加载中……</div>
        <div id="mumu" class="mumu"></div>
    </div>
    <!--小人end*-->
{include file="Public:footer" /}
