{include file="Public:header"}
<link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/index.css" type="text/css"/>
<script src="/static/assets/js/confirm.js"></script>
<style>
    .div_clear{clear:both}
    .div_confirm{width: 200px;float:left;margin-left: 40px;color:red}
</style>
<div class="first_div">
    <div class="left_div" style="clear:both">
        <!--主要内容 -->
        <div class="top-title">
            <div class="">
                <h1 class="page-title">
                    给我留言
                </h1>
            </div>
        </div>

        <div class="">
            <div class="post-container">
                <h2 class="post-title">
                    <a rel="bookmark">给我留言</a>
                </h2>
                <div class="meta-box"></div>
                <div class="post-content">
                    <p></p>
                </div>
                <div class="post-content">
                    <p>
                        <a href="javascript:;">
                            <p>
                                呵呵
                            </p>
                        </a>
                    </p>
                    <blockquote class="contact-list" id="contact-list">
                        <ul>
                            <li>
                                有朋自远方来，不亦悦乎。
                            </li>
                            <li>
                                既然来了，如果我们有共同兴趣的话，不妨留言讨论，说不定我们会成为朋友。
                            </li>
                        </ul>
                    </blockquote>
                    <p>
                        关于我，我想我的个人
                        <a href="about.html" target="_blank">
                            关于页面
                        </a>
                        已经介绍的比较详细了，如果你想联系我的话，不妨写信给我。
                    </p>
                </div>
            </div>
        </div>

        <div class="">
            <div class="post-container">
                <div class="post-content">
                    <form method="post" action="" id="commentForm" class="contact-form">
                        <div>
                            <span><label for="author">姓名*</label></span>
                            <span><input id="author" name="author" type="text" class="textbox" onblur="checkIsNull(this)" autocomplete="off"></span>
                            <div id="confirm_author" class="div_confirm" style="display: none">*请填写你的名称</div>
                        </div>
                        <div class="div_clear">
                            <span><label for="title">标题*</label></span>
                            <span ><input id="title" name="title" type="text" class="textbox" onblur="checkIsNull(this)" autocomplete="off"></span>
                            <div id="confirm_title" class="div_confirm" style="display: none">*请填写联系标题</div>
                        </div>
                        <div class="div_clear">
                            <span><label for="email">邮箱*</label></span>
                            <span><input id="email" name="email" type="text" class="textbox" onblur="checkIsNull(this)" autocomplete="off"></span>
                            <div id="confirm_email" class="div_confirm" style="display: none">*请填写你的邮箱</div>
                        </div>
                        <div class="div_clear">
                            <span><label for="comment">内容*</label></span>
                            <span><textarea id="comment" name="comment" class="textbox" onblur="checkIsNull(this)"></textarea></span>
                            <input type="hidden" name="confirm" value="{$confirm}">
                            <div id="confirm_comment" class="div_confirm" style="display: none">*请填写联系内容</div>
                        </div>
                        <div class="div_clear">
                            <span><input type="submit" value="提交" name="tijiao"  onclick="confirmForm()"></span>
                        </div>
                    </form>
                </div>
                <div class="meta-box">
                </div>
            </div>
        </div>
    </div>

    <div class="right_div">
        {include file="Public:right" /}
    </div>

</div>

<!--小人只在首页显示 start*-->
<div id="spig" class="spig" style="clear:both">
    <div id="message">正在加载中……</div>
    <div id="mumu" class="mumu"></div>
</div>
<!--小人end*-->
<script>
    $("#commentForm").submit( function () {
        return false;
    } );
</script>
{include file="Public:footer" /}