<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改文章</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <!--https://simplemde.com/ 很不错，但没有代码高亮效果，拜拜-->
    <!--<link href="/static/admin/js/plugins/simplemde/simplemde.min.css" rel="stylesheet">
    <script src="/static/admin/js/plugins/simplemde/simplemde.min.js"></script>-->
    <link href="/static/admin/js/plugins/editormd/css/editormd.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改文章</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="commentForm" method="post">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题：</label>
                            <div class="input-group col-sm-7">
                                <input id="title" type="text" class="form-control" name="title" required="" value="{$art_info.title}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类ID：</label>
                            <div class="input-group col-sm-7">
                                <select class="form-control" name="cate_id" required="" aria-required="true">
                                    <option value="0">请选择</option>
                                    {if !empty($cate_list)}
                                    {foreach name="cate_list" item="vo"}
                                        <option value="{$vo.id}" {if condition="$vo.id eq $art_info.cate_id"}selected{/if} >{$vo.title}</option>
                                    {/foreach}
                                    {/if}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标签：</label>
                            <div class="col-sm-7">
                                {foreach name="tag_list" item="val"}
                                    <label class="checkbox-inline i-checks">
                                        <input type="checkbox" value="{$val.tag_id}" name="tag[]"
                                           {foreach name="art_tag" item="vo"}
                                               {if condition="$vo eq $val.tag_id"}checked{/if}
                                           {/foreach}
                                                >{$val.title}</label>
                                {/foreach}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">摘要：</label>
                            <div class="input-group col-sm-7">
                                <textarea class="form-control" name="abstract">{$art_info.abstract}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="input-group col-sm-7">
                                <div id="editormd">
                                    <textarea style="display:none;" name="content">{$art_info.content}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="input-group col-sm-7">
                                <input id="sort" type="text" class="form-control" name="sort" value="{$art_info.sort}" required="" aria-required="true">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/content.min.js?v=1.0.0"></script>
<script src="/static/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/admin/js/plugins/layer/layer.min.js"></script>
<script src="/static/admin/js/plugins/editormd/editormd.js"></script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>
<script>
    //editormd
    $(function() {
        var editor = editormd("editormd", {
            path : "/static/admin/js/plugins/editormd/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
            height: '700'
        });
        /*
         // or
         var editor = editormd({
         id   : "editormd",
         path : "../lib/"
         });
         */
    });
    // https://simplemde.com/ 很不错，但没有代码高亮效果，拜拜
    //    var simplemde = new SimpleMDE({ element: document.getElementById("markdown") });

</script>
</body>
</html>