<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyCat后台</title>
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <div class="error-desc">
			<h3> author : {$site_config.author} </h3>
			<h3> homepage : {$site_config.homepage} </h3>
			<h3> email : {$site_config.author_email} </h3>
        </div>
    </div>
    <div class="wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box  box-primary" style="background-color: white;border-top:3px solid;border-top-color: #3c8dbc;">
                        <div class="box-body" style="padding: 10px;">
                            <div class="info-box">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>服务器操作系统：</td>
                                        <td>{$sys_info.os}</td>
                                        <td>服务器域名/IP：</td>
                                        <td>{$sys_info.domain} [ {$sys_info.ip} ]</td>
                                        <td>服务器环境：</td>
                                        <td>{$sys_info.web_server}</td>
                                    </tr>
                                    <tr>
                                        <td>PHP 版本：</td>
                                        <td>{$sys_info.phpv}</td>
                                        <td>Mysql 版本：</td>
                                        <td>{$sys_info.mysql_version}</td>
                                        <td>GD 版本</td>
                                        <td>{$sys_info.gdinfo}</td>
                                    </tr>
                                    <tr>
                                        <td>文件上传限制：</td>
                                        <td>{$sys_info.fileupload}</td>
                                        <td>最大占用内存：</td>
                                        <td>{$sys_info.memory_limit}</td>
                                        <td>最大执行时间：</td>
                                        <td>{$sys_info.max_ex_time}</td>
                                    </tr>
                                    <tr>
                                        <td>安全模式：</td>
                                        <td>{$sys_info.safe_mode}</td>
                                        <td>Zlib支持：</td>
                                        <td>{$sys_info.zlib}</td>
                                        <td>Curl支持：</td>
                                        <td>{$sys_info.curl}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>
