<div class="top-title" style="width: 100%;height:auto;">
    <div class="right_content"  style="height:auto;padding:10px 10px 40px 10px;">
        <div class="right-title">
            热门标签
        </div>
        <div>
            <ul>
                <li class="tag_name"><a style="background-color: #028231;" class="a">&nbsp;&nbsp;发斯蒂芬&nbsp;&nbsp;</a></li>
                <li class="tag_name"><a style="background-color: #E97705;" class="a">&nbsp;&nbsp;是的&nbsp;&nbsp;</a></li>
                <li class="tag_name"><a style="background-color: #D82508;" class="a">&nbsp;是的&nbsp;</a></li>
                <li class="tag_name"><a style="background-color: #028231;" class="a">&nbsp;非官方个&nbsp;</a></li> <br>

                <li class="tag_name"><a style="background-color: #E97705;" class="a">&nbsp;fdsfds&nbsp;</a></li>
                <li class="tag_name"><a style="background-color: #D82508;" class="a">&nbsp;gdsfgsdfg&nbsp;</a></li>
                <li class="tag_name"><a style="background-color: #028231;" class="a">&nbsp;gdsfgsdfg&nbsp;</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="" style="width: 100%;height:auto;">
    <div class="right_content">
        <div class="right-title">
            友情链接
        </div>
        <div>
            <a style="background-color: red;">fdsfds</a><a style="background-color: green;">fdsfds</a>
        </div>
    </div>
</div>