<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加管理员</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">



    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="/static/admin/js/plugins/ueditor/third-party/webuploader/webuploader.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>网站信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="name" type="text" class="form-control" name="name" value="{$site.name}" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="homepage" type="text" class="form-control" name="homepage" value="{$site.homepage}" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站作者：</label>
                            <div class="input-group col-sm-4">
                                <input id="author" type="text" class="form-control" name="author" value="{$site.author}" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作者邮箱：</label>
                            <div class="input-group col-sm-4">
                                <input id="author_email" type="text" class="form-control" name="author_email" value="{$site.author_email}" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站关键词：</label>
                            <div class="input-group col-sm-4">
                                <input id="keywords" type="text" class="form-control" name="keywords" required="" value="{$site.keywords}" aria-required="true">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站描述：</label>
                            <div class="input-group col-sm-4">
                                <input id="descript" type="text" class="form-control" name="descript" required="" value="{$site.descript}" aria-required="true">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">版权：</label>
                            <div class="input-group col-sm-4">
                                <input id="copyright" type="text" class="form-control" name="copyright" required="" value="{$site.copyright}" aria-required="true">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">上传头像：</label>
                            <!--dom结构部分-->
                            <div class="col-sm-4 img-avatar"><img class="img-circle" width="70" height="70" src="{$site.logo}" ></div>
                            <div id="uploader-demo">
                                <!--用来存放item-->
                                <div id="fileList" class="uploader-list">
                                </div>
                                <div id="filePicker">选择图片</div>
                            </div>
                            <input type="hidden" name="logo" value="{$site.logo}">
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/content.min.js?v=1.0.0"></script>
<script src="/static/admin/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/admin/js/plugins/validate/messages_zh.min.js"></script>
<!--<script src="/static/admin/js/plugins/iCheck/icheck.min.js"></script>-->
<!--<script src="/static/admin/js/plugins/sweetalert/sweetalert.min.js"></script>-->
<!--<script src="/static/admin/js/plugins/layer/laydate/laydate.js"></script>-->
<!--<script src="/static/admin/js/plugins/suggest/bootstrap-suggest.min.js"></script>-->
<script src="/static/admin/js/plugins/layer/layer.min.js"></script>
<!--引入JS-->
<script type="text/javascript" src="/static/admin/js/plugins/ueditor/third-party/webuploader/webuploader.js"></script>


<script type="text/javascript">

    //表单提交
    function toVaild(){
        var jz;
        var url = "./userAdd";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#commentForm').serialize()},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){
                    swal(data.msg, "", "success");
                    //$(this)[0].contentWindow.location.reload();
                }else{
                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }

</script>

<script>
    $(document).ready(function(){
        // 初始化Web Uploader
        var upload_path = "{$upload_path}";
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '/static/admin/js/plugins/ueditor/third-party/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: "{:url('File/imageUp', ['type' => $upload_path])}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/gif,image/jpg,image/jpeg,image/bmp,image/png'
            },
            compress: false
        });
        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                            '<div id="' + file.id + '" class="file-item ">' +
                            '<img class="img-circle">' +
                            '</div>'
                    ),
                    $img = $li.find('img');



            // $list为容器jQuery实例
            $('#fileList').append( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, 100, 100 );
        });

// 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css( 'width', percentage * 100 + '%' );
        });
// 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress span');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<p class="progress"><span></span></p>')
                        .appendTo( $li )
                        .find('span');
            }

            $percent.css( 'width', percentage * 100 + '%' );
        });

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file,response ) {
            $('.img-avatar').hide();
            $( '#'+file.id ).addClass('upload-state-done');
            $('input[name=logo]').val(response._raw);
        });

// 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                    $error = $li.find('div.error');
            // 避免重复创建
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

// 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
        });

    });
</script>
</body>
</html>